.olvidaste{
    display: flex;
    justify-content: space-between;

}

.olvidaste a{
    text-decoration: none;
    padding: 8px;
}

.olvidaste a:hover{
    text-decoration: underline;
}

main{
    background-image: url(../imagenes/pareja\,iniciosesion4.jpg) !important;
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en la pantalla */
}


.ayuda a{
    text-decoration: none;
}

.ayuda a:hover{
    text-decoration: underline
}